# ------------------------------------------------------------
# core libs
pandas
numpy
jupyterlab
plotly
ipywidgets
requests
dateparser
codetiming
pytest
pydantic
pydantic-settings
aiohttp

# ------------------------------------------------------------
# perspective libs
perspective-python
pyarrow
tornado
uvicorn

# ------------------------------------------------------------
# 3rd party data sources libs
confluent-kafka     # kafka
influxdb-client     # influxdb
taospy              # tdengine
taos-ws-py          # tdengine
clickhouse-connect  # clickhouse

