body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

perspective-viewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
